 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>A Maryland resident but a native of the United Kingdom, I began my career in management of web & mobile applications for startups and fortune 500 companies in 2015.</p>
                </div>
                <div class="col-lg-4">
                    <p>I hold a PSM and PSPO and am passionate about Agile frameworks (particularly SCRUM), automation, and empowering teams. </p>
                </div>
                             <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://www.linkedin.com/in/mark-majer/" class="btn btn-lg btn-outline">
                       <i class="fa-linkedin"></i> My LinkedIn
                  </a>
                </div>
            </div>
        </div>
    </section>
